@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tarot Reading Page!</h1>
    <br>
    <img src="images/tarot-front.jpg" alt="Tarot Photo" width="500px" />
    <br>
    <br>
    <p>Tarot card reading is a form of cartomancy whereby practitioners use tarot cards to gain insight into the past,
        present or future. They formulate a question, then draw cards to interpret them for this end.</p>
</div>
