@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    still needs some spacing and such but something like this <br>
    Greetings, esteemed internet explorer! Fear not, for you have stumbled upon a haven of digital discretion.<br> <br>
    Our servers are like well-trained ninjas - silent, stealthy, and sworn to secrecy.<br>
    Your data is more sacred to us than a wizard's spellbook.<br><br>

    Rest assured, we're not in the business of hoarding your secrets or selling your digital soul.<br>
    Your privacy is our top priority, guarded by an army of cyber-unicorns (and maybe a few well-written lines of
    code).<br><br>

    So, wander freely through our virtual realm, knowing that your data is as safe as a rescue dog in a
    thunderstorm.<br>
    No hidden agendas here, just a commitment to keeping your online journey as cozy as a cozy RPG tavern.<br><br>

    Happy browsing, noble user! May your clicks be swift and your data remain a well-kept secret. </p>
