@page
@model PrivacyModel
@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>

<style>
    /* Tyylimäärittelyt */
    body {
        background-color: black;
        /* sivun taustaväri */
        color: goldenrod;
        font-family: Arial, sans-serif;
        margin: 0;

    }

    h1 {
        color: burlywood;
        /* Privacy Policy -tekstin värin säätö */
        font-size: 25px;
        /* Fonttikoko */
        font-weight: bold;

    }

    p {
        color: goldenrod;
        /* Muuta otsikon värin */
        font-size: 14px;
        /* Muuta fonttikokoa */

    }

    }
</style>

<h1>Privacy Policy</h1>
<p>
    <br>
    Greetings, esteemed internet explorer! Fear not, for you have stumbled upon a haven of digital discretion.<br> <br>
    Our servers are like well-trained ninjas - silent, stealthy, and sworn to secrecy.<br>
    Your data is more sacred to us than a wizard's spellbook.<br><br>

    Rest assured, we're not in the business of hoarding your secrets or selling your digital soul.<br>
    Your privacy is our top priority, guarded by an army of cyber-unicorns (and maybe a few well-written lines of
    code).<br><br>

    So, wander freely through our virtual realm, knowing that your data is as safe as a rescue dog in a
    thunderstorm.<br>
    No hidden agendas here, just a commitment to keeping your online journey as cozy as a cozy RPG tavern.<br><br>

    Happy browsing, noble user! May your clicks be swift and your data remain a well-kept secret.
</p>
